{% extends 'base_admin.html.twig' %}

{% block title %}Blog Symfony | BACKOFFICE{% endblock %}

{% block body %}
    <h1 class="ms-1">Bienvenue {{ app.user.nom }} {{ app.user.prenom }} dans votre espace BackOffice</h1>
{% endblock %}
